body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

.orange-color {
    color: tomato;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 60;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.link-button {
    text-decoration: none;
    height: 80px;
    width: 400px;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 30px;
    color: white;
    font-weight: 350;
    border-radius: 50px;
}

.recipies {
    text-align: center;

}

footer h2 {
    text-align: center;
}

footer p {
    text-align: center;
}

#picture {
    margin: 0;
}